body{
    background: url(./img/MicrosoftTeams-image.png) center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: rgba(255, 255, 255, 0.379);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    backdrop-filter: blur(5px);
    gap: 10px;
}
#txt{
    font-size: 36px;
    color: white;
}
#convertion{
    color: white;
}
#inputEuros{
    height: 30px;
    text-align: right;
}
