.box{
    width: 200px;
    height: 200px;
    color: darkkhaki;
    background: darkcyan;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    cursor: pointer;
}
div{
    width: 200px;
    height: 200px;
}

