* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    min-height: 100vh;
}

/*style de la premier section*/
#tete {
    background-image: radial-gradient(rgb(139, 195, 245), #1294b8);
}


/*barre de navigation en haut de l'ecran_______________________________*/
nav {
    width: 100%;
    height: 150px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    /*padding: 0 20px;*/
}

/*GAUCHE___________________________________________________________*/
#navKucra {
    display: flex;
    justify-content: center;
    width: 25%;
    font-size: 50px;
    color: white;
}

/*____________________________________________________________*/

/*MILLIEUX_____________________________________________________________ */
#navListeLiens {
    width: 50%;
}

#navListeLiens ul {
    /*style de la liste dans la nav barre*/
    display: flex;
    justify-content: center;
    gap: 30px;
}

#navListeLiens ul li {
    /*enleve les points des listes*/
    list-style: none;
}

#navListeLiens ul li a {
    /*enleve le style de base atribuer au liens*/
    text-decoration: none;
    color: #fff;
}

/*______________________________________________________________________*/

/*DROITE___________________________________________________*/
#navIcon {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navIcon ul {
    display: flex;
    gap: 20px;
}

#navIcon ul li {
    list-style: none;
}

#navIcon ul li a i {
    color: #fff;
}
/*____________________________________________________________________*/

/*input email + image cat___________________________________________________*/
#inputEmailImageCat{
    display: flex;
    justify-content: center;
    
}

/* partie gauche , texte input email*/
#inputEmailTxt{
    width: 40%;
    padding-right: 15%;
}

#inputEmailTxt h1{
    font-size: 46px;
    margin-top: 50px;
    margin-bottom: 20px;
   
}
#inputEmailTxt p{
    margin-bottom: 20px;
}
/*__________________________________________________________________*/

/*Input email_____________________________________________________________*/
#InputEmail{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 20px;
    height: 40px;

}

#email{
    border-style: none;
    border-radius: 20px;
    padding-left: 15px;
    width: 70% ;
    background-color: rgba(255, 255, 255, 0);
}

#SUBSCRIBE{
    background-color: rgb(0, 176, 176);
    color: white;
    border-radius: 20px;
    width: 30%;
    margin: 3px 3px;
    
}

/*__________________________________________________________________*/


/*partie de droite image chat_________________________________________*/
#ImageCat{
    width: 40%;
}
/*FIN DE LA SECTION 1___________________________________________________*/





/*style de la section 2_________________________________________________*/
#section2{
    background-color:rgb(218, 218, 218);
}
#section2 h3{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#txts2 {
    text-align: center;
    color: grey;
    padding-bottom: 50px;
}
/*style des 3 card_____________________________________________________*/
#allCard{
    display: flex;
    gap: 20px;
    justify-content: center;

}

.card{
    display: flex;
    background-image: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 1.7%;
    text-align: center;
    transition: 0.5s;
}
.card:hover{
    transform: translate(0,-20px);
}

#card h3{
    font-size: 20px;
}
#card i{
    font-size: 40px;
}


@font-face {
    font-family: Poppins;
    src: url(./Poppins/Poppins-Regular.ttf);
}
